

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #abd1c6;
    transition: left 0.3s ease;
    z-index: 100;
}

.sidebar-header {
    padding: 20px;
    background-color: #004643;
    color: #ffffff;
    z-index: 101;
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 250px); /* Ajusta el ancho cuando el sidebar está abierto */
    padding: 20px 100px;
    background: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 102; /* Coloca el header principal sobre el sidebar */
    transition: margin-left 0.3s ease, width 0.3s ease; /* Hace que el header se ajuste suavemente */
}

.sidebar.open {
    left: 0; /* Hace visible el sidebar */
}

.main-content.expanded,
.main-header.expanded {
    margin-left: 250px; /* Desplaza el contenido y el header de main-content */
}

.icon-menu,
.close-icon {
    cursor: pointer;
    font-size: 25px;
    color: #ffffff;
}
