.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculto inicialmente */
    width: 250px;
    height: 100vh;
    background: #001e1d;
    transition: left 0.3s ease; /* Transición para mover el sidebar */
    z-index: 100;
    display: flex;
    flex-direction: column; /* Asegura que el contenido se alinee verticalmente */
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    font-size: 1.8em; 
    font-weight: 600;
    padding: 0;
    margin: 0;
    background-color: #f9bc60;
    color: #001e1d;
    position: relative; /* Cambia a relative para que no se desplace con el sidebar */
    z-index: 101;
    cursor: default;
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

/* Sidebar cerrado: El header ocupa el 100% del ancho */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe el ancho completo cuando el sidebar está cerrado */
    padding: 44px 100px;
    background: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 102; /* Asegura que esté por encima del sidebar */
    transition: margin-left 0.3s ease, width 0.3s ease; /* Transición suave para cambios de ancho y margen */
}

/* Sidebar abierto: El header se ajusta a un ancho menor */
.main-header.expanded {
    width: calc(100% - 250px); /* Ajusta el ancho cuando el sidebar está abierto */
    margin-left: 250px; /* Desplaza el header para alinearse con el contenido */
}

.sidebar.open {
    left: 0; /* Hace visible el sidebar */
}

.main-content.expanded,
.main-header.expanded {
    margin-left: 250px; /* Desplaza el contenido y el header de main-content */
}

.logo-menu {
    display: flex;
    align-items: center;
    transition: padding-left 0.5s ease; /* Transición suave para el movimiento */
  }

.icon-menu,
.close-icon {
    color: #f9bc60;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px; 
    text-shadow:
        -1px -1px 0 #000,  /* Capa 1 alrededor del símbolo */
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000,
        -2px -2px 0 #000,  /* Capa 2, más lejos */
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000
}

#btn-menu {
    display: none;
  }


.sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 0px 0;
}

.sidebar nav a{
    font-size: 1.275em; 
    font-weight: 600;
    padding: 20px 20px;
    text-decoration: none;
    color: #fffffe;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.sidebar nav a:hover {
border-left: 5px solid #f9bc60;
border-right: 5px solid #f9bc60;
background: #004643;
color: #fffffe;
}
  