.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100vh;
    background: #001e1d;
    transition: left 0.3s ease; 
    z-index: 100;
    display: flex;
    flex-direction: column; 
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    font-size: 1.8em; 
    font-weight: 600;
    padding: 0;
    margin: 0;
    background-color: #f9bc60;
    color: #001e1d;
    position: relative; 
    z-index: 101;
    cursor: default;
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

/* Sidebar cerrado: El header ocupa el 100% del ancho */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 44px 100px;
    background: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 102; 
    transition: margin-left 0.3s ease, width 0.3s ease; 
}

/* Sidebar abierto: El header se ajusta a un ancho menor */
.main-header.expanded {
    width: calc(100% - 250px); 
    margin-left: 250px; 
}

.sidebar.open {
    left: 0; 
}

.main-content.expanded,
.main-header.expanded {
    margin-left: 250px; 
}

.logo-menu {
    display: flex;
    align-items: center;
    transition: padding-left 0.5s ease; 
  }

.icon-menu,
.close-icon {
    color: #f9bc60;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px; 
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000,
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000
}

#btn-menu {
    display: none;
  }


.sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 0px 0;
}

.sidebar nav a{
    font-size: 1.075em; 
    font-weight: 600;
    padding: 20px 20px;
    text-decoration: none;
    color: #fffffe;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.sidebar nav a:hover {
border-left: 5px solid #f9bc60;
border-right: 5px solid #f9bc60;
background: #004643;
color: #fffffe;
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding-top: 80px; 
}
  