#second-section {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin: 5rem auto;
    text-align: center;
    min-height: 300px; /* Altura mínima para al menos 2 campos */
    max-height: 70vh; /* Altura máxima para limitar el tamaño */
    overflow: hidden; /* Habilita el desplazamiento */
}

.fixed-header {
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

.fixed-header h3 {
    font-size: 2em;
    color: #001e1d;
    margin: 0; /* Sin margen para evitar movimientos */
    text-align: center;
}

.scrollable-content {
    overflow-y: auto; /* Habilitamos el desplazamiento vertical */
    max-height: calc(70vh - 125px); /* Ajustamos la altura para el contenido desplazable */
    padding-right: 20px;
    margin-top: -5px;
    margin-left: 60px;
    margin-right: 10px; /* Mueve el scroll hacia el borde */
}

.fixed-footer {
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 10;
    text-align: center;
}

.fixed-footer .btn-guardar {
    width: 100%;
    padding: 0.8rem 1.5rem;
    background-color: #004643;
    color: #ffffff;
    border: 2px solid #004643;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.fixed-footer .btn-guardar:hover {
    background-color: #f9bc60;
    color: #004643;
}

.fixed-footer .btn-guardar:active {
    background-color: #e6a555; /* Color más oscuro al presionar */
}

/* Adaptación del estilo de los campos */
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #004643;
    margin: 1.5rem 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #001e1d;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #001e1d;
    font-weight: 600;
    padding: 0 0.5rem;
}

/* Estilo para navegadores basados en WebKit (Chrome, Edge, Safari) */
.scrollable-content::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    height: 12px; /* Altura para scroll horizontal (si aplica) */
}


.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #f9bc60; /* Cambia de color cuando el usuario pasa el cursor */
}

.scrollable-content::-webkit-scrollbar-track {
    border-radius: 20px; /* Redondeado */
}

/* Para navegadores basados en Firefox */
.scrollable-content {
    scrollbar-width: thin; /* Tamaño de la barra de desplazamiento */
    scrollbar-color: #004643 #fffffe; /* Color del pulgar y del track */
    border-radius: 20px; /* Redondeado */
}
