/* Sección de Eliminar */
#eliminar-section {
    display: none; 
    padding: 20px;
    background: linear-gradient(135deg, #abd1c6, #edf7f6);;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px auto;
    max-width: 500px;
    min-width: 700px;
    text-align: center;
    margin-top: 300px;
  }
  
  #eliminar-section h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #004643;
    margin-bottom: 20px;
  }

.eliminar-busqueda {
    margin-bottom: 20px;
    position: relative; 
}
  
  /* Campo de búsqueda */
  .eliminar-busqueda input {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #004643;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .eliminar-busqueda input:focus {
    border-color: #f9bc60;
  }
  
  /* Botón de eliminar */
  .eliminar-busqueda button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e16162; 
    color: #040404;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .eliminar-busqueda button:hover {
    background-color: #d62828; 
    color: #001e1d;
  }

/* Estilos para el contenedor de sugerencias */
.sugerencias-consultas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #004643;
  border-radius: 5px;
  background-color: #ffffff;
  max-height: 150px; 
  overflow-y: auto;
  position: absolute;
  width: 80%; 
  z-index: 1000; 
  left: 10%; 
  top: 110px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sugerencias-consultas li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  color: #004643;
}

.sugerencias-consultas li:hover {
  background-color: #f9bc60;
  color: #001e1d;
}